This is a notebook which will be used for my capstone project

In [1]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!!!!!!!")

Hello Capstone Project Course!!!!!!!

Introduction:

Life School Phuket
I own a small alternative international school in Phuket, Thailand. I am fitness and nature junky and an obsessed surfer. The school has just finished its 5th full year in operation. I started the school to provide an education to my own two boys first and foremost, and they are nearly to the point where they will finish the school and begin higher education online. The school was started with very little capital and provides a community environment for children who might otherwise be home-schooled or a cheaper alternative to very expensive international schools.

The long term plan is to take my children on the road with me and start 4-5 new small schools in strategic locations that are similar to Phuket and have similar challenges for expat families. Rather than compare two cities or neighborhoods within a city, I will compare the neighborhoods of the top surfing spots in the world to attempt to identify the top choices to expand our school brand

Data:

The data I will use for this analysis will be a combination of a list of the top 50 surf spots in the world that was published in a CNN report in 2013. The link to the article is as follows: https://edition.cnn.com/travel/article/50-surf-spots/index.html 

I will also use venue data from Foursquare.

Methodology:

The first step of the analysis will be to web-scrape the CNN website with the article in a Jupyter notebook on IBM Watson and use Beautiful Soup to clean the data. It will then be transformed into a Pandas data frame . Once the data set of the top 50 surf spots is in a data frame format I will need to get the GPS coordinates of each and add them to the data frame.

Finally I will use the Foursquare API to run a k-means clustering exercise to divide the locations into clusters. This will narrow down my selection to the cluster which includes Phuket and the potential next location will be chosen based on its closeness to Phuket.

Before we get the data and start exploring it, let's download all the dependencies that we will need.

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

#!pip install pandas
#!pip install requests
!pip install bs4
#!pip install plotly

from bs4 import BeautifulSoup

print('Libraries imported.')

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python-3.7-OpenCE

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2021.5.30          |   py37h89c1867_0         141 KB  conda-forge
    geographiclib-1.52         |     pyhd8ed1ab_0          35 KB  conda-forge
    geopy-2.2.0                |     pyhd8ed1ab_0          67 KB  conda-forge
    openssl-1.1.1k             |       h7f98852_0         2.1 MB  conda-forge
    python_abi-3.7             |          2_cp37m           4 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.4 MB

The following NEW packages will be INSTALLED:

  geographiclib      conda-forge/noarch::geographiclib-1.52-pyhd8ed1ab_0
  geopy              conda-forge/noarch::geopy-2.2.0-pyhd8ed1ab_0
  python_abi         conda-forge/linux-64::python_abi-3.7-2_cp37m

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi            pkgs/main::certifi-2021.5.30-py37h06a~ --> conda-forge::certifi-2021.5.30-py37h89c1867_0
  openssl              pkgs/main::openssl-1.1.1k-h27cfd23_0 --> conda-forge::openssl-1.1.1k-h7f98852_0



Downloading and Extracting Packages
openssl-1.1.1k       | 2.1 MB    | ##################################### | 100%
python_abi-3.7       | 4 KB      | ##################################### | 100%
certifi-2021.5.30    | 141 KB    | ##################################### | 100%
geographiclib-1.52   | 35 KB     | ##################################### | 100%
geopy-2.2.0          | 67 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python-3.7-OpenCE

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    altair-4.1.0               |             py_1         614 KB  conda-forge
    branca-0.4.2               |     pyhd8ed1ab_0          26 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    widgetsnbextension-3.5.1   |   py37h89c1867_4         1.8 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

  altair             conda-forge/noarch::altair-4.1.0-py_1
  branca             conda-forge/noarch::branca-0.4.2-pyhd8ed1ab_0
  folium             conda-forge/noarch::folium-0.5.0-py_0
  vincent            conda-forge/noarch::vincent-0.4.4-py_1

The following packages will be UPDATED:

  widgetsnbextension pkgs/main::widgetsnbextension-3.5.1-p~ --> conda-forge::widgetsnbextension-3.5.1-py37h89c1867_4



Downloading and Extracting Packages
widgetsnbextension-3 | 1.8 MB    | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
altair-4.1.0         | 614 KB    | ##################################### | 100%
branca-0.4.2         | 26 KB     | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: / Exception while loading config file /var/pod/.ws/ax-ext/config/wscloud/jupyter_notebook_config.py
    Traceback (most recent call last):
      File "/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/traitlets/config/application.py", line 563, in _load_config_files
        config = loader.load_config()
      File "/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/traitlets/config/loader.py", line 457, in load_config
        self._read_file_as_dict()
      File "/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/traitlets/config/loader.py", line 489, in _read_file_as_dict
        py3compat.execfile(conf_filename, namespace)
      File "/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/ipython_genutils/py3compat.py", line 198, in execfile
        exec(compiler(f.read(), fname, 'exec'), glob, loc)
      File "/var/pod/.ws/ax-ext/config/wscloud/jupyter_notebook_config.py", line 17, in <module>
        from cdsax_jupyter_extensions.ax_log import ax_log_request
    ModuleNotFoundError: No module named 'cdsax_jupyter_extensions'
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

done
/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from beautifulsoup4->bs4) (2.0.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1273 sha256=cdddde5360955d5a2c5dce7ce4f8ff10d0ffb8270fc92a690da7b53f68f523b8
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/0a/9e/ba/20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Libraries imported.

Next I will get the data and create a beautiful soup object.

In [2]:
url = "https://edition.cnn.com/travel/article/50-surf-spots/index.html"

data  = requests.get(url).text

In [3]:
soup = BeautifulSoup(data, 'html5lib')

I had to do a bit of googling to figure out how to web scrape just the list of locations from the article but it wasn't too hard.

In [4]:
surfspot_names=soup.find_all("h3")
print(surfspot_names)

[<h3>50. Eisbach, Munich</h3>, <h3>49. Baja Malibu, Baja Norte, Mexico</h3>, <h3>48. Fulong Beach, Taiwan</h3>, <h3>47. Surin Beach, Phuket, Thailand</h3>, <h3>46. Arugam Bay, Sri Lanka</h3>, <h3>45. Surfer's Point, Barbados</h3>, <h3>44. The Bubble, Fuerteventura, Canary Islands</h3>, <h3>43. Black's Beach, San Diego, California</h3>, <h3>42. Cape Hatteras Lighthouse, Buxton, North Carolina</h3>, <h3>41. Surf pool, United Arab Emirates</h3>, <h3>40. Biarritz, France</h3>, <h3>39. Ponta Preta, Maio, Cape Verde</h3>, <h3>38. Tofino, Vancouver Island, Canada</h3>, <h3>37. Byron Bay, New South Wales, Australia</h3>, <h3>36. Les Cavaliers, Anglet, France</h3>, <h3>35. Killer Point, Taghazoute, Morocco</h3>, <h3>34. Pedra Branca Ericeira, Portugal</h3>, <h3>33. Sao Francisco do Sul, Brazil</h3>, <h3>32. Coconuts, Samoa</h3>, <h3>31. Carrapateira, Portugal</h3>, <h3>30. Hanalei Bay, Hawaii</h3>, <h3>29. Rincon, Puerto Rico</h3>, <h3>28. Bundoran Beach, County Donegal, Ireland</h3>, <h3>27. Tamarindo Beach, Tamarindo, Costa Rica</h3>, <h3>26. Pasta Point, Maldives</h3>, <h3>25. Backdoor, Oahu, Hawaii</h3>, <h3>24. Watergate Bay, Cornwall, England</h3>, <h3>23. Cloudbreak, Tavarua Island, Fiji</h3>, <h3>22. Superbank, Gold Coast, Australia</h3>, <h3>21. Surfrider Beach, Malibu, California</h3>, <h3>20. The Box, Margaret River Valley, Australia</h3>, <h3>19. Jaws, Maui, Hawaii</h3>, <h3>18. Riyuewan, Sanya, Hainan Island, China</h3>, <h3>17. Manu Bay, Raglan, New Zealand</h3>, <h3>16. Nihiwatu, Sumba, Indonesia</h3>, <h3>15. Rincon, Santa Barbara, California </h3>, <h3>14. Montanita Beach, Montanita, Ecuador</h3>, <h3>13. Honolua Bay, Maui, Hawaii</h3>, <h3>12. Trestles, Orange County, California</h3>, <h3>11. Sultans, North Male, Maldives</h3>, <h3>10. Lance's Right, Sipora, Mentawais Islands, Sumatera Barat, Indonesia</h3>, <h3>9. Cloud Nine, Siargao Island, Philippines</h3>, <h3>8. Puerto Escondido, Southern Oaxaca, Mexico</h3>, <h3>7. Hossegor, France</h3>, <h3>6. Maverick's, California</h3>, <h3>5. P-Pass, Pohnpei, Federated States of Micronesia</h3>, <h3>4. Uluwatu and Kuta, Bali, Indonesia</h3>, <h3>3. Teahupo'o, Tahiti, French Polynesia </h3>, <h3>2. Supertubes, Jeffrey's Bay, South Africa</h3>, <h3>1. Pipeline, Oahu, Hawaii</h3>]

In [5]:
surfspot_list = []
for b in surfspot_names[0:]:
    result = b.text.strip()
    surfspot_list.append(result)

In [6]:
print(surfspot_list)

['50. Eisbach, Munich', '49. Baja Malibu, Baja Norte, Mexico', '48. Fulong Beach, Taiwan', '47. Surin Beach, Phuket, Thailand', '46. Arugam Bay, Sri Lanka', "45. Surfer's Point, Barbados", '44. The Bubble, Fuerteventura, Canary Islands', "43. Black's Beach, San Diego, California", '42. Cape Hatteras Lighthouse, Buxton, North Carolina', '41. Surf pool, United Arab Emirates', '40. Biarritz, France', '39. Ponta Preta, Maio, Cape Verde', '38. Tofino, Vancouver Island, Canada', '37. Byron Bay, New South Wales, Australia', '36. Les Cavaliers, Anglet, France', '35. Killer Point, Taghazoute, Morocco', '34. Pedra Branca Ericeira, Portugal', '33. Sao Francisco do Sul, Brazil', '32. Coconuts, Samoa', '31. Carrapateira, Portugal', '30. Hanalei Bay, Hawaii', '29. Rincon, Puerto Rico', '28. Bundoran Beach, County Donegal, Ireland', '27. Tamarindo Beach, Tamarindo, Costa Rica', '26. Pasta Point, Maldives', '25. Backdoor, Oahu, Hawaii', '24. Watergate Bay, Cornwall, England', '23. Cloudbreak, Tavarua Island, Fiji', '22. Superbank, Gold Coast, Australia', '21. Surfrider Beach, Malibu, California', '20. The Box, Margaret River Valley, Australia', '19. Jaws, Maui, Hawaii', '18. Riyuewan, Sanya, Hainan Island, China', '17. Manu Bay, Raglan, New Zealand', '16. Nihiwatu, Sumba, Indonesia', '15. Rincon, Santa Barbara, California', '14. Montanita Beach, Montanita, Ecuador', '13. Honolua Bay, Maui, Hawaii', '12. Trestles, Orange County, California', '11. Sultans, North Male, Maldives', "10. Lance's Right, Sipora, Mentawais Islands, Sumatera Barat, Indonesia", '9. Cloud Nine, Siargao Island, Philippines', '8. Puerto Escondido, Southern Oaxaca, Mexico', '7. Hossegor, France', "6. Maverick's, California", '5. P-Pass, Pohnpei, Federated States of Micronesia', '4. Uluwatu and Kuta, Bali, Indonesia', "3. Teahupo'o, Tahiti, French Polynesia", "2. Supertubes, Jeffrey's Bay, South Africa", '1. Pipeline, Oahu, Hawaii']

In the next bunch of cells I split the row data using the period as a delimiter and name the columns, dropping the numbers attached to each location so I end up with a neat list of surf spots.

In [7]:
df = pd. DataFrame(surfspot_list)

In [8]:
df.head()

                                     0
0                  50. Eisbach, Munich
1  49. Baja Malibu, Baja Norte, Mexico
2             48. Fulong Beach, Taiwan
3    47. Surin Beach, Phuket, Thailand
4            46. Arugam Bay, Sri Lanka

In [9]:
df.columns =['Surf Spot']

In [10]:
df.head()

                             Surf Spot
0                  50. Eisbach, Munich
1  49. Baja Malibu, Baja Norte, Mexico
2             48. Fulong Beach, Taiwan
3    47. Surin Beach, Phuket, Thailand
4            46. Arugam Bay, Sri Lanka

In [11]:
new = df["Surf Spot"].str.split(".", n = 1, expand = True)

In [12]:
new.tail()

    0                                                 1
45  5   P-Pass, Pohnpei, Federated States of Micronesia
46  4                 Uluwatu and Kuta, Bali, Indonesia
47  3               Teahupo'o, Tahiti, French Polynesia
48  2           Supertubes, Jeffrey's Bay, South Africa
49  1                            Pipeline, Oahu, Hawaii

In [13]:
new.columns =['Drop', 'Surf Spot']

In [14]:
new.head()

  Drop                         Surf Spot
0   50                   Eisbach, Munich
1   49   Baja Malibu, Baja Norte, Mexico
2   48              Fulong Beach, Taiwan
3   47     Surin Beach, Phuket, Thailand
4   46             Arugam Bay, Sri Lanka

In [15]:
new.drop(['Drop'], axis = 1)

                                            Surf Spot
0                                     Eisbach, Munich
1                     Baja Malibu, Baja Norte, Mexico
2                                Fulong Beach, Taiwan
3                       Surin Beach, Phuket, Thailand
4                               Arugam Bay, Sri Lanka
5                            Surfer's Point, Barbados
6           The Bubble, Fuerteventura, Canary Islands
7                Black's Beach, San Diego, California
8    Cape Hatteras Lighthouse, Buxton, North Carolina
9                     Surf pool, United Arab Emirates
10                                   Biarritz, France
11                      Ponta Preta, Maio, Cape Verde
12                   Tofino, Vancouver Island, Canada
13              Byron Bay, New South Wales, Australia
14                      Les Cavaliers, Anglet, France
15                  Killer Point, Taghazoute, Morocco
16                    Pedra Branca Ericeira, Portugal
17                       Sao Francisco do Sul, Brazil
18                                    Coconuts, Samoa
19                             Carrapateira, Portugal
20                                Hanalei Bay, Hawaii
21                                Rincon, Puerto Rico
22            Bundoran Beach, County Donegal, Ireland
23             Tamarindo Beach, Tamarindo, Costa Rica
24                              Pasta Point, Maldives
25                             Backdoor, Oahu, Hawaii
26                   Watergate Bay, Cornwall, England
27                   Cloudbreak, Tavarua Island, Fiji
28                   Superbank, Gold Coast, Australia
29                Surfrider Beach, Malibu, California
30          The Box, Margaret River Valley, Australia
31                                 Jaws, Maui, Hawaii
32              Riyuewan, Sanya, Hainan Island, China
33                      Manu Bay, Raglan, New Zealand
34                         Nihiwatu, Sumba, Indonesia
35                  Rincon, Santa Barbara, California
36                Montanita Beach, Montanita, Ecuador
37                          Honolua Bay, Maui, Hawaii
38                Trestles, Orange County, California
39                      Sultans, North Male, Maldives
40   Lance's Right, Sipora, Mentawais Islands, Sum...
41            Cloud Nine, Siargao Island, Philippines
42          Puerto Escondido, Southern Oaxaca, Mexico
43                                   Hossegor, France
44                             Maverick's, California
45    P-Pass, Pohnpei, Federated States of Micronesia
46                  Uluwatu and Kuta, Bali, Indonesia
47                Teahupo'o, Tahiti, French Polynesia
48            Supertubes, Jeffrey's Bay, South Africa
49                             Pipeline, Oahu, Hawaii

Above you see the full list of the surf spots printed. The next step is to get the GPS coordinates of each spot and add them to the data frame.

In [16]:
spot_list = new["Surf Spot"].tolist()
print(spot_list)

[' Eisbach, Munich', ' Baja Malibu, Baja Norte, Mexico', ' Fulong Beach, Taiwan', ' Surin Beach, Phuket, Thailand', ' Arugam Bay, Sri Lanka', " Surfer's Point, Barbados", ' The Bubble, Fuerteventura, Canary Islands', " Black's Beach, San Diego, California", ' Cape Hatteras Lighthouse, Buxton, North Carolina', ' Surf pool, United Arab Emirates', ' Biarritz, France', ' Ponta Preta, Maio, Cape Verde', ' Tofino, Vancouver Island, Canada', ' Byron Bay, New South Wales, Australia', ' Les Cavaliers, Anglet, France', ' Killer Point, Taghazoute, Morocco', ' Pedra Branca Ericeira, Portugal', ' Sao Francisco do Sul, Brazil', ' Coconuts, Samoa', ' Carrapateira, Portugal', ' Hanalei Bay, Hawaii', ' Rincon, Puerto Rico', ' Bundoran Beach, County Donegal, Ireland', ' Tamarindo Beach, Tamarindo, Costa Rica', ' Pasta Point, Maldives', ' Backdoor, Oahu, Hawaii', ' Watergate Bay, Cornwall, England', ' Cloudbreak, Tavarua Island, Fiji', ' Superbank, Gold Coast, Australia', ' Surfrider Beach, Malibu, California', ' The Box, Margaret River Valley, Australia', ' Jaws, Maui, Hawaii', ' Riyuewan, Sanya, Hainan Island, China', ' Manu Bay, Raglan, New Zealand', ' Nihiwatu, Sumba, Indonesia', ' Rincon, Santa Barbara, California', ' Montanita Beach, Montanita, Ecuador', ' Honolua Bay, Maui, Hawaii', ' Trestles, Orange County, California', ' Sultans, North Male, Maldives', " Lance's Right, Sipora, Mentawais Islands, Sumatera Barat, Indonesia", ' Cloud Nine, Siargao Island, Philippines', ' Puerto Escondido, Southern Oaxaca, Mexico', ' Hossegor, France', " Maverick's, California", ' P-Pass, Pohnpei, Federated States of Micronesia', ' Uluwatu and Kuta, Bali, Indonesia', " Teahupo'o, Tahiti, French Polynesia", " Supertubes, Jeffrey's Bay, South Africa", ' Pipeline, Oahu, Hawaii']

I spent a lot of time trying to get the coordinates with geocoder but eventually had to manually get them and uploaded the file to my github.

I uploaded the data to my IBM Watson project and used the insert to code function to create the data frame below

In [17]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_5324950dd2db4d59ac58b27ffb6b49f4 = 'https://s3.us.cloud-object-storage.appdomain.cloud'
else:
    endpoint_5324950dd2db4d59ac58b27ffb6b49f4 = 'https://s3.private.us.cloud-object-storage.appdomain.cloud'

client_5324950dd2db4d59ac58b27ffb6b49f4 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='r3qkgQVfGQJ4IMqihxxM4vIlQVo_EAxVW8BLH4DmlQIt',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_5324950dd2db4d59ac58b27ffb6b49f4)

body = client_5324950dd2db4d59ac58b27ffb6b49f4.get_object(Bucket='capstonecoursefordatascience-donotdelete-pr-ykpu8zksml9tlr',Key='Spots with Geo Data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

                         Surf Spots   Latitude   Longitude
0                   Eisbach, Munich  48.135100   11.582000
1   Baja Malibu, Baja Norte, Mexico  32.522500 -117.046623
2              Fulong Beach, Taiwan  25.022000  121.943200
3     Surin Beach, Phuket, Thailand   7.975473   98.278467
4             Arugam Bay, Sri Lanka   6.840400   81.836800

In [18]:
df2 = df_data_1

In [19]:
df2 = df2.rename(columns={'Surf Spots':'Surf Spot'})

In [20]:
df2.head()

                          Surf Spot   Latitude   Longitude
0                   Eisbach, Munich  48.135100   11.582000
1   Baja Malibu, Baja Norte, Mexico  32.522500 -117.046623
2              Fulong Beach, Taiwan  25.022000  121.943200
3     Surin Beach, Phuket, Thailand   7.975473   98.278467
4             Arugam Bay, Sri Lanka   6.840400   81.836800

In [21]:
CLIENT_ID = 'J5V3TBLWMG0PLF1IKMBIW0DUFVTNRYXDBWBZRO4KTNS2UGSV' # your Foursquare ID
CLIENT_SECRET = 'UT1DAF5ZQYBN2ZLWE3OTRG1LZNAPUR1QLUXCV42N4JSKNVCJ' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: J5V3TBLWMG0PLF1IKMBIW0DUFVTNRYXDBWBZRO4KTNS2UGSV
CLIENT_SECRET:UT1DAF5ZQYBN2ZLWE3OTRG1LZNAPUR1QLUXCV42N4JSKNVCJ

In [21]:
address = 'Phuket, Thailand'

geolocator = Nominatim(user_agent="toronto_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Phuket are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Phuket are 7.9366015, 98.3529292.

In [23]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Surf Spot', 
                      'Latitude', 
                      'Longitude', 
                      'Venue', 
                      'Venue Latitude', 
                      'Venue Longitude', 
                      'Venue Category']
    
    return(nearby_venues)

In [24]:
           
spot_venues = getNearbyVenues(names=df2['Surf Spot'],
                                   latitudes=df2['Latitude'],
                                   longitudes=df2['Longitude']
                                  )

 Eisbach, Munich
 Baja Malibu, Baja Norte, Mexico
 Fulong Beach, Taiwan
 Surin Beach, Phuket, Thailand
 Arugam Bay, Sri Lanka
Surfer's Point, Barbados
 The Bubble, Fuerteventura, Canary Islands
Black's Beach, San Diego, California
 Cape Hatteras Lighthouse, Buxton, North Carolina
 Surf pool, United Arab Emirates
 Biarritz, France
 Ponta Preta, Maio, Cape Verde
 Tofino, Vancouver Island, Canada
 Byron Bay, New South Wales, Australia
 Les Cavaliers, Anglet, France
 Killer Point, Taghazoute, Morocco
 Pedra Branca Ericeira, Portugal
 Sao Francisco do Sul, Brazil
 Coconuts, Samoa
 Carrapateira, Portugal
 Hanalei Bay, Hawaii
 Rincon, Puerto Rico
 Bundoran Beach, County Donegal, Ireland
 Tamarindo Beach, Tamarindo, Costa Rica
 Pasta Point, Maldives
 Backdoor, Oahu, Hawaii
 Watergate Bay, Cornwall, England
 Cloudbreak, Tavarua Island, Fiji
 Superbank, Gold Coast, Australia
 Surfrider Beach, Malibu, California
 The Box, Margaret River Valley, Australia
 Jaws, Maui, Hawaii
 Riyuewan, Sanya, Hainan Island, China
 Manu Bay, Raglan, New Zealand
 Nihiwatu, Sumba, Indonesia
 Rincon, Santa Barbara, California
 Montanita Beach, Montanita, Ecuador
 Honolua Bay, Maui, Hawaii
 Trestles, Orange County, California
 Sultans, North Male, Maldives
Lance's Right, Sipora, Mentawais Islands, Sumatera Barat, Indonesia
 Cloud Nine, Siargao Island, Philippines
 Puerto Escondido, Southern Oaxaca, Mexico
 Hossegor, France
Maverick's, California
 P-Pass, Pohnpei, Federated States of Micronesia
 Uluwatu and Kuta, Bali, Indonesia
Teahupo'o, Tahiti, French Polynesia
Supertubes, Jeffrey's Bay, South Africa
 Pipeline, Oahu, Hawaii

In [25]:
print(spot_venues.shape)
spot_venues.head()

(294, 7)

,Surf Spot,Latitude,Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,"Eisbach, Munich",48.1351,11.582,Little London,48.135562,11.580961,Steakhouse
1,"Eisbach, Munich",48.1351,11.582,Globetrotter,48.134611,11.581879,Sporting Goods Shop
2,"Eisbach, Munich",48.1351,11.582,OOH BABY I LIKE IT RAW,48.134023,11.580400,Caf
3,"Eisbach, Munich",48.1351,11.582,Mandarin Oriental Munich,48.137257,11.580779,Hotel
4,"Eisbach, Munich",48.1351,11.582,Bar Centrale,48.136821,11.579873,Caf

Check how many categories we have obtained.

In [28]:
print('There are {} uniques categories.'.format(len(spot_venues['Venue Category'].unique())))

There are 103 uniques categories.

Analyse each surf spot

In [30]:
# one hot encoding
surf_spots_onehot = pd.get_dummies(spot_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
surf_spots_onehot['Surf Spot'] = spot_venues['Surf Spot'] 

# move neighborhood column to the first column
fixed_columns = [surf_spots_onehot.columns[-1]] + list(surf_spots_onehot.columns[:-1])
surf_spots_onehot = surf_spots_onehot[fixed_columns]

surf_spots_onehot.head()

,Yoga Studio,Argentinian Restaurant,Asian Restaurant,Australian Restaurant,Bagel Shop,Bakery,Bank,Bar,Bavarian Restaurant,Beach,Beach Bar,Bed & Breakfast,Beer Garden,Bistro,Board Shop,Bookstore,Boutique,Brazilian Restaurant,Breakfast Spot,Brewery,Burger Joint,Bus Station,Bus Stop,Caf,Campground,Chinese Restaurant,Church,Clothing Store,Cocktail Bar,Coffee Shop,Convenience Store,Cupcake Shop,Department Store,Dessert Shop,Egyptian Restaurant,English Restaurant,Falafel Restaurant,Farmers Market,Fish Market,Fountain,Gas Station,German Restaurant,Grocery Store,Gym / Fitness Center,Gym Pool,Hainan Restaurant,Hawaiian Restaurant,Hostel,Hotel,Hotel Bar,Hotel Pool,Ice Cream Shop,Indian Restaurant,Insurance Office,Italian Restaurant,Japanese Restaurant,Jazz Club,Juice Bar,Korean Restaurant,Lebanese Restaurant,Lounge,Massage Studio,Mediterranean Restaurant,Metro Station,Mexican Restaurant,Middle Eastern Restaurant,Moroccan Restaurant,Motel,Museum,Music Venue,Nightclub,Noodle House,Optical Shop,Organic Grocery,Other Nightlife,Park,Persian Restaurant,Pharmacy,Pier,Pizza Place,Playground,Plaza,Pool,Pub,Resort,Rest Area,Restaurant,Sandwich Place,Seafood Restaurant,Shop & Service,Snack Place,Spa,Sporting Goods Shop,Steakhouse,Supermarket,Surf Spot,Taco Place,Thai Restaurant,Theme Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Wine Bar,Wings Joint
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,"Eisbach, Munich",0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,"Eisbach, Munich",0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"Eisbach, Munich",0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"Eisbach, Munich",0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"Eisbach, Munich",0,0,0,0,0,0,0

Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [31]:
surf_spots_grouped = surf_spots_onehot.groupby('Surf Spot').mean().reset_index()
surf_spots_grouped

,Surf Spot,Yoga Studio,Argentinian Restaurant,Asian Restaurant,Australian Restaurant,Bagel Shop,Bakery,Bank,Bar,Bavarian Restaurant,Beach,Beach Bar,Bed & Breakfast,Beer Garden,Bistro,Board Shop,Bookstore,Boutique,Brazilian Restaurant,Breakfast Spot,Brewery,Burger Joint,Bus Station,Bus Stop,Caf,Campground,Chinese Restaurant,Church,Clothing Store,Cocktail Bar,Coffee Shop,Convenience Store,Cupcake Shop,Department Store,Dessert Shop,Egyptian Restaurant,English Restaurant,Falafel Restaurant,Farmers Market,Fish Market,Fountain,Gas Station,German Restaurant,Grocery Store,Gym / Fitness Center,Gym Pool,Hainan Restaurant,Hawaiian Restaurant,Hostel,Hotel,Hotel Bar,Hotel Pool,Ice Cream Shop,Indian Restaurant,Insurance Office,Italian Restaurant,Japanese Restaurant,Jazz Club,Juice Bar,Korean Restaurant,Lebanese Restaurant,Lounge,Massage Studio,Mediterranean Restaurant,Metro Station,Mexican Restaurant,Middle Eastern Restaurant,Moroccan Restaurant,Motel,Museum,Music Venue,Nightclub,Noodle House,Optical Shop,Organic Grocery,Other Nightlife,Park,Persian Restaurant,Pharmacy,Pier,Pizza Place,Playground,Plaza,Pool,Pub,Resort,Rest Area,Restaurant,Sandwich Place,Seafood Restaurant,Shop & Service,Snack Place,Spa,Sporting Goods Shop,Steakhouse,Supermarket,Taco Place,Thai Restaurant,Theme Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Wine Bar,Wings Joint
0,"Arugam Bay, Sri Lanka",0.00,0.00,0.181818,0.000000,0.000000,0.000000,0.00,0.090909,0.00,0.090909,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.090909,0.000000,0.0,0.000000,0.00,0.0,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.090909,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.090909,0.000,0.090909,0.00,0.181818,0.000000,0.090909,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.000000
1,"Baja Malibu, Baja Norte, Mexico",0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.00,0.0,0.00,0.000000,0.00,0.000000,0.250000,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.250000,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.00,0.00,0.00,0.000000,0.25,0.00,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,0.000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.000000
2,"Cloud Nine, Siargao Island, Philippines",0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.00,0.0,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.500000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,0.000,0.500000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.000000
3,"Eisbach, Munich",0.01,0.01,0.030000,0.000000,0.000000,0.010000,0.01,0.010000,0.07,0.000000,0.01,0.000000,0.010000,0.01,0.01,0.01,0.010000,0.000000,0.000000,0.01,0.010000,0.000000,0.0,0.050000,0.00,0.0,0.01,0.000000,0.03,0.050000,0.010000,0.01,0.01,0.00,0.000000,0.01,0.01,0.01,0.01,0.01,0.0,0.07,0.000000,0.000000,0.000000,0.0,0.01,0.000000,0.050000,0.000000,0.000000,0.02,0.03,0.0,0.020000,0.000000,0.01,0.01,0.00,0.000000,0.000000,0.000000,0.010000,0.000000,0.010000,0.000000,0.000000,0.00,0.01,0.0,0.010000,0.01,0.01,0.01,0.000000,0.00,0.01,0.000000,0.0,0.050000,0.0,0.000000,0.000000,0.00,0.000000,0.000,0.010000,0.02,0.020000,0.000000,0.020000,0.000000,0.01,0.01,0.010000,0.000000,0.000000,0.01,0.03,0.040000,0.02,0.000000
4,"Fulong Beach, Taiwan",0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.250000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.00,0.0,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.500000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.250000,0.000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.000000
5,"Hossegor, France",0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.00,0.0,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.0,0.000000,1.0,0.000000,0.000000,0.00,0.000000,0.000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.000000
6,"Manu Bay, Raglan, New Zealand",0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.10,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.200000,0.00,0.0,0.00,0.000000,0.00,0.100000,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.1,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.10,0.00,0.0,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.1,0.000000,0.0,0.000000,0.000000,0.10,0.000000,0.000,0.100000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.100000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.000000
7,"Montanita Beach, Montanita, Ecuador",0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.096774,0.00,0.064516,0.00,0.032258,0.000000,0.00,0.00,0.00,0.032258,0.000000,0.032258,0.00,0.000000,0.000000,0.0,0.000000,0.00,0.0,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.064516,0.096774,0.032258,0.032258,0.00,0.00,0.0,0.032258,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.064516,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.129032,0.00,0.00,0.00,0.032258,0.00,0.00,0.000000,0.0,0.064516,0.0,0.000000,0.000000,0.00,0.032258,0.000,0.096774,0.00,0.032258,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.000000
8,"Puerto Escondido, Southern Oaxaca, Mexico",0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.045455,0.00,0.000000,0.045455,0.00,0.00,0.00,0.000000,0.000000,0.045455,0.00,0.000000,0.045455,0.0,0.000000,0.00,0.0,0.00,0.045455,0.00,0.045455,0.045455,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.045455,0.045455,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.136364,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.0,0.000000,0.0,0.045455,0.000000,0.00,0.000000,0.000,0.000000,0.00,0.045455,0.045455,0.000000,0.000000,0.00,0.00,0.045455,0.227273,0.000000,0.00,0.00,0.000000,0.00,0.045455
9,"Rincon, Santa Barbara, California",0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.375000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.25,0.0,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,0.125,0.125000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.000000
10,"Riyuewan, Sanya, Hainan Island, China",0.00,0.00,0.200000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.2,0.000000,0.00,0.2,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.2,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.00,0.00,0.00,0.000000,0.20,0.00,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,0.000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.000000
11,"Surf pool, United Arab Emirates",0.00,0.00,0.021739,0.021739,0.021739,0.021739,0.00,0.043478,0.00,0.021739,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.021739,0.021739,0.00,0.021739,0.000000,0.0,0.043478,0.00,0.0,0.00,0.000000,0.00,0.043478,0.000000,0.00,0.00,0.00,0.021739,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.021739,0.043478,0.021739,0.0,0.00,0.000000,0.086957,0.021739,0.000000,0.00,0.00,0.0,0.043478,0.043478,0.00,0.00,0.00,0.021739,0.065217,0.000000,0.000000,0.021739,0.000000,0.065217,0.021739,0.00,0.00,0.0,0.021739,0.00,0.00,0.00,0.000000,0.00,0.00,0.021739,0.0,0.021739,0.0,0.000000,0.021739,0.00,0.000000,0.000,0.065217,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.021739,0.00,0.00,0.021739,0.00,0.000000
12,"Surin Beach, Phuket, Thailand",0.00,0.00,0.076923,0.000000,0.000000,0.000000,0.00,0.076923,0.00,0.076923,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.00,0.0,0.00,0.000000,0.00,0.000000,0.038462,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.076923,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.038462,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.038462,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.269231,0.000,0.076923,0.00,0.000000,0.000000,0.000000,0.038462,0.00,0.00,0.000000,0.000000,0.192308,0.00,0.00,0.000000,0.00,0.000000
13,"The Box, Margaret River Valley, Australia",0.00,0.00,0.000000,0.050000,0.000000,0.050000,0.00,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.300000,0.00,0.0,0.00,0.050000,0.00,0.000000,0.000000,0.00,0.05,0.05,0.000000,0.00,0.00,0.05,0.00,0.00,0.0,0.00,0.050000,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.050000,0.000000,0.05,0.00,0.0,0.000000,0.000000,0.00,0.00,0.05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.05,0.00,0.0,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.05,0.000000,0.000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.100000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.000000
14,"The Bubble, Fuerteventura, Canary Islands",0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.00,0.0,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.5,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.5,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,0.000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.000000
15,"Trestles, Orange County, California",0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.00,0.0,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,0.000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.000000

Let's print each spot along with the top 5 most common venues

In [32]:
num_top_venues = 5

for hood in surf_spots_grouped['Surf Spot']:
    print("----"+hood+"----")
    temp = surf_spots_grouped[surf_spots_grouped['Surf Spot'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

---- Arugam Bay, Sri Lanka----
                venue  freq
0    Asian Restaurant  0.18
1  Seafood Restaurant  0.18
2  Italian Restaurant  0.09
3               Beach  0.09
4              Resort  0.09


---- Baja Malibu, Baja Norte, Mexico----
                venue  freq
0  Mexican Restaurant  0.25
1       Grocery Store  0.25
2   Convenience Store  0.25
3                Park  0.25
4           Jazz Club  0.00


---- Cloud Nine, Siargao Island, Philippines----
                       venue  freq
0                      Hotel   0.5
1                 Restaurant   0.5
2                Yoga Studio   0.0
3  Middle Eastern Restaurant   0.0
4            Other Nightlife   0.0


---- Eisbach, Munich----
                 venue  freq
0    German Restaurant  0.07
1  Bavarian Restaurant  0.07
2          Pizza Place  0.05
3          Coffee Shop  0.05
4                Hotel  0.05


---- Fulong Beach, Taiwan----
                       venue  freq
0                      Hotel  0.50
1                      Beach  0.25
2                     Resort  0.25
3                Yoga Studio  0.00
4  Middle Eastern Restaurant  0.00


---- Hossegor, France----
                venue  freq
0          Playground   1.0
1         Yoga Studio   0.0
2  Persian Restaurant   0.0
3     Other Nightlife   0.0
4     Organic Grocery   0.0


---- Manu Bay, Raglan, New Zealand----
            venue  freq
0            Caf   0.2
1  Ice Cream Shop   0.1
2     Supermarket   0.1
3     Gas Station   0.1
4     Coffee Shop   0.1


---- Montanita Beach, Montanita, Ecuador----
         venue  freq
0    Nightclub  0.13
1   Restaurant  0.10
2          Bar  0.10
3        Hotel  0.10
4  Pizza Place  0.06


---- Puerto Escondido, Southern Oaxaca, Mexico----
                venue  freq
0          Taco Place  0.23
1  Mexican Restaurant  0.14
2         Wings Joint  0.05
3      Shop & Service  0.05
4               Hotel  0.05


---- Rincon, Santa Barbara, California----
         venue  freq
0        Beach  0.38
1   Campground  0.25
2    Rest Area  0.12
3   Restaurant  0.12
4  Yoga Studio  0.00


---- Riyuewan, Sanya, Hainan Island, China----
                venue  freq
0    Asian Restaurant   0.2
1                Park   0.2
2  Chinese Restaurant   0.2
3            Bus Stop   0.2
4   Hainan Restaurant   0.2


---- Surf pool, United Arab Emirates----
                       venue  freq
0                      Hotel  0.09
1                     Lounge  0.07
2  Middle Eastern Restaurant  0.07
3                 Restaurant  0.07
4                Coffee Shop  0.04


---- Surin Beach, Phuket, Thailand----
              venue  freq
0            Resort  0.27
1   Thai Restaurant  0.19
2             Beach  0.08
3  Asian Restaurant  0.08
4             Hotel  0.08


---- The Box, Margaret River Valley, Australia----
               venue  freq
0               Caf  0.30
1        Supermarket  0.10
2     Ice Cream Shop  0.05
3                Pub  0.05
4  Korean Restaurant  0.05


---- The Bubble, Fuerteventura, Canary Islands----
                venue  freq
0    Insurance Office   0.5
1         Music Venue   0.5
2         Yoga Studio   0.0
3  Mexican Restaurant   0.0
4     Other Nightlife   0.0


---- Trestles, Orange County, California----
                venue  freq
0         Yoga Studio   0.0
1  Mexican Restaurant   0.0
2     Other Nightlife   0.0
3     Organic Grocery   0.0
4        Optical Shop   0.0

In [33]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [35]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Surf Spot']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
spot_venues_sorted = pd.DataFrame(columns=columns)
spot_venues_sorted['Surf Spot'] = surf_spots_grouped['Surf Spot']

for ind in np.arange(surf_spots_grouped.shape[0]):
    spot_venues_sorted.iloc[ind, 1:] = return_most_common_venues(surf_spots_grouped.iloc[ind, :], num_top_venues)

spot_venues_sorted.head()

,Surf Spot,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Arugam Bay, Sri Lanka",Seafood Restaurant,Asian Restaurant,Restaurant,Italian Restaurant,Snack Place,Beach,Bar,Resort,Burger Joint,Falafel Restaurant
1,"Baja Malibu, Baja Norte, Mexico",Park,Convenience Store,Grocery Store,Mexican Restaurant,English Restaurant,Church,Clothing Store,Cocktail Bar,Coffee Shop,Cupcake Shop
2,"Cloud Nine, Siargao Island, Philippines",Hotel,Restaurant,Campground,Church,Clothing Store,Cocktail Bar,Coffee Shop,Convenience Store,Cupcake Shop,Department Store
3,"Eisbach, Munich",Bavarian Restaurant,German Restaurant,Hotel,Caf,Pizza Place,Coffee Shop,Vietnamese Restaurant,Cocktail Bar,Vegetarian / Vegan Restaurant,Asian Restaurant
4,"Fulong Beach, Taiwan",Hotel,Resort,Beach,Falafel Restaurant,Clothing Store,Cocktail Bar,Coffee Shop,Convenience Store,Cupcake Shop,Department Store

Cluster into 5 clusters.

In [36]:
# set number of clusters
kclusters = 5

surf_spots_grouped_clustering = surf_spots_grouped.drop('Surf Spot', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(surf_spots_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([1, 0, 4, 1, 4, 3, 1, 1, 1, 1], dtype=int32)

In [37]:
# add clustering labels
spot_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

In [41]:
surf_spots_merged = df2

# merge manhattan_grouped with manhattan_data to add latitude/longitude for each neighborhood
surf_spots_merged = surf_spots_merged.join(spot_venues_sorted.set_index('Surf Spot'), on='Surf Spot')

surf_spots_merged.head() # check the last columns!

,Surf Spot,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Eisbach, Munich",48.135100,11.582000,1.0,Bavarian Restaurant,German Restaurant,Hotel,Caf,Pizza Place,Coffee Shop,Vietnamese Restaurant,Cocktail Bar,Vegetarian / Vegan Restaurant,Asian Restaurant
1,"Baja Malibu, Baja Norte, Mexico",32.522500,-117.046623,0.0,Park,Convenience Store,Grocery Store,Mexican Restaurant,English Restaurant,Church,Clothing Store,Cocktail Bar,Coffee Shop,Cupcake Shop
2,"Fulong Beach, Taiwan",25.022000,121.943200,4.0,Hotel,Resort,Beach,Falafel Restaurant,Clothing Store,Cocktail Bar,Coffee Shop,Convenience Store,Cupcake Shop,Department Store
3,"Surin Beach, Phuket, Thailand",7.975473,98.278467,1.0,Resort,Thai Restaurant,Hotel,Beach,Bar,Restaurant,Asian Restaurant,Spa,Convenience Store,Nightclub
4,"Arugam Bay, Sri Lanka",6.840400,81.836800,1.0,Seafood Restaurant,Asian Restaurant,Restaurant,Italian Restaurant,Snack Place,Beach,Bar,Resort,Burger Joint,Falafel Restaurant

In [42]:
surf_spots_merged['Cluster Labels']=surf_spots_merged['Cluster Labels'].fillna(0).astype('int')

Since I am interested in similar spots to Phuket, rather than make a map I simply want to create a data frame to see which spots are in the same cluster which I identified as having teh label 1.0.

In [47]:
surf_spots_merged.loc[surf_spots_merged['Cluster Labels'] == 1.0]

,Surf Spot,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Eisbach, Munich",48.135100,11.582000,1,Bavarian Restaurant,German Restaurant,Hotel,Caf,Pizza Place,Coffee Shop,Vietnamese Restaurant,Cocktail Bar,Vegetarian / Vegan Restaurant,Asian Restaurant
3,"Surin Beach, Phuket, Thailand",7.975473,98.278467,1,Resort,Thai Restaurant,Hotel,Beach,Bar,Restaurant,Asian Restaurant,Spa,Convenience Store,Nightclub
4,"Arugam Bay, Sri Lanka",6.840400,81.836800,1,Seafood Restaurant,Asian Restaurant,Restaurant,Italian Restaurant,Snack Place,Beach,Bar,Resort,Burger Joint,Falafel Restaurant
9,"Surf pool, United Arab Emirates",25.204800,55.270800,1,Hotel,Lounge,Restaurant,Middle Eastern Restaurant,Japanese Restaurant,Coffee Shop,Bar,Caf,Italian Restaurant,Gym / Fitness Center
30,"The Box, Margaret River Valley, Australia",-33.953600,115.073900,1,Caf,Supermarket,Korean Restaurant,Grocery Store,Farmers Market,Dessert Shop,Clothing Store,Department Store,Motel,Pub
32,"Riyuewan, Sanya, Hainan Island, China",18.252847,109.511909,1,Park,Asian Restaurant,Hainan Restaurant,Bus Stop,Chinese Restaurant,English Restaurant,Church,Clothing Store,Cocktail Bar,Coffee Shop
33,"Manu Bay, Raglan, New Zealand",-37.801406,174.871795,1,Caf,Board Shop,Ice Cream Shop,Coffee Shop,Supermarket,Pier,Gas Station,Pub,Restaurant,Church
35,"Rincon, Santa Barbara, California",34.335553,-119.407061,1,Beach,Campground,Restaurant,Rest Area,Church,Clothing Store,Cocktail Bar,Coffee Shop,Convenience Store,Cupcake Shop
36,"Montanita Beach, Montanita, Ecuador",-1.826847,-80.752973,1,Nightclub,Hotel,Bar,Restaurant,Hostel,Mediterranean Restaurant,Beach,Pizza Place,Hotel Pool,Seafood Restaurant
38,"Trestles, Orange County, California",33.385000,-117.595000,1,Wings Joint,Farmers Market,Clothing Store,Cocktail Bar,Coffee Shop,Convenience Store,Cupcake Shop,Department Store,Dessert Shop,Egyptian Restaurant
42,"Puerto Escondido, Southern Oaxaca, Mexico",15.865535,-97.069447,1,Taco Place,Mexican Restaurant,Wings Joint,Seafood Restaurant,Hotel,Convenience Store,Coffee Shop,Clothing Store,Breakfast Spot,Plaza

Upon a quick inspection I can further split these into developing and developed markets. My short list of places to consider based upon this exercise has been narrowed down to Puerto Escondido, Montanita, Hainan Island, Arugam Bay. Interestingly Bali did not make the same cluster and my belief is that it is because I had to choose between Kuta and Uluwatu as the article listed both spots which are an hour away from each other. I chose Uluwatu for the wave but Kuta is probably a better location for a school as it is nearest to the main expat community.